<% if flash[:su_notice] %>
	<div class="alert alert-warning">
		<p><%= flash[:su_notice] %></p>
	</div>
<% end %>

<ul class="nav nav-tabs" style="margin-top: 15px;">
  <li class="active"><a data-toggle="tab" href="#first">First year</a></li>
  <li><a data-toggle="tab" href="#second">Second year</a></li>
  <li><a data-toggle="tab" href="#third">Third year</a></li>
  <%= link_to 'New', new_admin_subject_path, class: 'btn btn-default pull-right' %>
</ul>

<div class="tab-content">
  <div id="first" class="tab-pane fade in active">
    <h1 class="blocktitle">First Year</h1>
		<%= render partial: 'table', locals: { subjects_by_year: @first_year } %>
  </div>
  <div id="second" class="tab-pane fade">
    <h1 class="blocktitle">Second Year</h1>
		<%= render partial: 'table', locals: { subjects_by_year: @second_year } %>
  </div>
  <div id="third" class="tab-pane fade">
    <h1 class="blocktitle">Third Year</h1>
		<%= render partial: 'table', locals: { subjects_by_year: @third_year } %>
  </div>
</div>