<h1 class="blocktitle">New subject</h1>

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<% if @subject.errors.any? %>
		<h2>Errors</h2>
		<ul class="validation-errors">
			<% @subject.errors.full_messages.each do |msg| %>
				<li class="nav alert alert-danger"><%= msg %></li>
			<% end %>
		</ul>
		<% end %>
		<%= form_for @subject, url: admin_subjects_path do |form| %>
			<div class="form-group">
				<%= form.label :name, class: 'control-label' %>
				<%= form.text_field :name, class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= form.label :ects, class: 'control-label' %>
				<%= form.text_field :ects, class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= form.label :year, class: 'control-label' %>
				<%= form.text_field :year, class: 'form-control' %>
			</div>

			<%= form.submit 'Save' %>
			<%= link_to 'Back', :back, class: 'pull-right' %>
		<% end %>
	</div>
</div>