<h1 class="blocktitle">Edit Signup</h1>

<div class="row">
	<div class="col-md-6">
		<table class="table table-striped">
			<thead>
				<th>Student</th>
				<th>Subject</th>
				<th>Date</th>
			</thead>

			<tbody>
				<tr>
					<td><%= @signup.user.full_name %></td>
					<td><%= @signup.exam.subject.name %></td>
					<td><%= @signup.exam.start_date.strftime("%-d.%-m.%Y. %H:%M") %></td>
				</tr>
			</tbody>
		</table>

		<%= form_for @evaluation, url: admin_evaluation_path(@evaluation.id) do |form| %>
			<div class="form-group">
				<%= form.label :evaluation, class: 'control-label' %>
				<%= form.text_field :evaluation, class: 'form-control' %>
			</div>

			<%= form.submit 'Save', class: 'btn btn-default' %>
			<%= link_to 'Back', :back, class: 'pull-right' %>
		<% end %>
</div>