<h1 class="blocktitle">
	<%= @user.full_name %>
	<small><%= link_to 'Edit', edit_user_path, class: 'pull-right' %></small>
</h1>

<div class="row">
	<div class="col-md-5">
		<%= image_tag @user.avatar.url(:medium) %>
	</div>
	<div class="col-md-7">
		<h3>Personal data</h3>
		<table class="table">
			<tr>
				<th>First name</th>
				<td><%= @user.first_name %></td>
			</tr>
			<tr>
				<th>Last name</th>
				<td><%= @user.last_name %></td>
			</tr>
			<tr>
				<th>Year</th>
				<td><%= @user.year %></td>
			</tr>
			<tr>
				<th>Department</th>
				<td><%= @user.department %></td>
			</tr>
		</table>
		<h3>Success</h3>
		<table class="table">
			<% @evaluations.each do |e| %>
			<tr>
				<td><%= e.subject.name %></td>
				<td><%= e.evaluation %></td>
			</tr>
			<% end %>
			<tr>
				<th>GPA</th>
				<th><%= sprintf('%.2f', current_user.gpa) %></th>
			</tr>
		</table>
	</div>
</div>