
<div class="nav-side-menu">
  <div class="brand">Dashboard</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      <li>
        <a href="<%= admin_dashboard_path %>">
        <i class="fa fa-dashboard fa-lg"></i> Dashboard
        </a>
      </li>

      <li  data-toggle="collapse" data-target="#users" class="collapsed active">
        <a href="#"><i class="fa fa-users fa-lg"></i> Users <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="users">
        <li class="active"><a href="<%= admin_users_path %>">All Users</a></li>
        <li><a href="<%= new_user_registration_path %>">New User</a></li>
      </ul>


      <li data-toggle="collapse" data-target="#professors" class="collapsed">
        <a href="#"><i class="fa fa-suitcase fa-lg"></i> Professors <span class="arrow"></span></a>
      </li>  
      <ul class="sub-menu collapse" id="professors">
        <li><%= link_to 'All professors', admin_professors_path %></li>
        <li>New Professor</li>
      </ul>


      <li data-toggle="collapse" data-target="#exams" class="collapsed">
        <a href="#"><i class="fa fa-calendar fa-lg"></i> Exams <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="exams">
        <li>Active Exams</li>
        <li>Add Exam</li>
      </ul>

      <li>
        <a href="<%= user_path(current_user) %>">
          <i class="fa fa-user fa-lg"></i> Profile
        </a>
      </li>

      <li>
        <a href="<%= destroy_user_session_path %>">
          <i class="fa fa-sign-out fa-lg"></i> Log Out
        </a>
      </li>
    </ul>
  </div>
</div>