<div class="footer">
	<div class="navbar container text-center">
		<%= link_to 'Home', root_path %>
		<%= link_to 'About', about_path %>
		<%= link_to 'Exams', exams_path %>
		<%= link_to 'Subjects', subjects_path %>
		<%= link_to 'Profile', user_path(current_user.id) %>
		<%= link_to 'Log out', destroy_user_session_path %>
	</div>
</div>
<div class="copyright"><i class="glyphicon glyphicon-copyright-mark"></i> www.sis.com</div>
