<% if user_signed_in? %>
<li>
  <a href="#" class="navbar-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.full_name %><span class="caret"></span></a>
  
  <ul class="dropdown-menu">
    <%= render_link 'Your Profile', user_path(current_user), 'glyphicon glyphicon-user' %>

    <% if current_user.student? || current_user.moderator? %>
    <%= render_link 'Signups', signups_path, 'glyphicon glyphicon-pencil' %>
    <% end %>

    <% if current_user.moderator? || current_user.admin? %>
    <%= render_link 'Your Posts', posts_path, 'glyphicon glyphicon-th-list' %>
    <%= render_link 'Create Post', new_post_path, 'glyphicon glyphicon-plus' %>
    <% end %>

    <% if current_user.admin? %>
    <%= render_link 'Dashboard', admin_dashboard_path, 'glyphicon glyphicon-dashboard' %>
    <% end %>

    <li class="divider" role="separator"></li>
    <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
</ul>
</li>
<% else %>
<%= render_link 'Log in',  new_user_session_path, 'glyphicon glyphicon-log-in' %>
<%= render_link 'Sign up', new_user_registration_path, 'glyphicon glyphicon-new-window' %>
<% end %>