<% if current_user_signups.present? %>
<h1 class="blocktitle">Exams</h1>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="alert alert-warning">
			<% if next_signup == -1 %>
			<h4>No more exams!</h4>
			<% elsif next_signup == 0 %>
			<h4>Next exam tomorrow!</h4>
			<small><%= current_user_signups.first.subject.name %></small>
			<% else %>
			<h4>Next exam in <%= next_signup %> days!</h4>
			<small><%= current_user_signups.first.subject.name %></small>
			<% end %>
		</div>

		<table class="table table-striped">
			<% current_user_signups.each do |cs| %>
			<tr><th><%= cs.subject.name %></th></tr>
			<tr><td><%= cs.start_date.strftime("%-d.%-m.%Y. %H:%M") %></td></tr>
			<% end %>
		</table>
	</div>
</div>
<% end %>

<h1 class="blocktitle">Info</h1>
<div class="panel panel-default">
	<div class="panel-body">
		<a href="<%= user_path(current_user) %>" class="thumbnail">
			<%= image_tag current_user.avatar.url(:thumb) %>
		</a>

		<h3><%= current_user.full_name %></h3>
		<table class="table">
			<tr>
				<td>Year:</td>
				<td><%= current_user.year %></td>
			</tr>
			<tr>
				<td>Department:</td>
				<td><%= current_user.department %></td>
			</tr>
			<tr>
				<td>GPA</td><td></td>
			</tr>
			<tr>
				<td style="width: 100%;">
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="8.3" 
						aria-valuemin="5" aria-valuemax="10" style="width: 83%;">8.3</div>
					</div>
				</td><td></td>
			</tr>
		</table>
	</div>
</div>