<h1 class="blocktitle">
	Your posts <%= link_to 'New', new_post_path, class: 'btn btn-default pull-right' %>
</h1>

<% if flash[:post_notice] %>
	<div class="alert alert-success">
		<p><%= flash[:post_notice] %></p>
	</div>
<% end %>

<% @posts.each do |p| %>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h4 class="post-title"><%= link_to p.title, post_path(p.id) %></h4>
	  </div>
	  <div class="panel-body">
	    <%= p.description %>
	  </div>
	</div>
<% end %>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<%= will_paginate @posts %>
	</div>
</div>