<h1 class="blocktitle"><%= @post.title %></h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <small>Posted at: <%= @post.created_at.strftime("%d.%-m.%Y %H:%M") %> | Posted by: <%= @post.user.full_name %></small>
    <small class="pull-right">Comments: <%= @post.comments.count %></small>
  </div>

  <div class="panel-body">
    <%= @post.description %>
  </div>
</div>

<button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#myModal">Leave Comment</button>

<h1 class="blocktitle">Comments</h1>

<div class="row">
	<div class="col-md-12" id="post-comments">
		<% @post.comments.order(created_at: :desc).each do |comment| %>
			<div class="comment panel panel-default" style="padding: 10px; margin-bottom: 10px;">
				<h4><%= current_user.full_name %> <small class="pull-right"><%= comment.created_at.strftime("%d.%-m.%Y %H:%M") %></small>	</h4><hr>
				<p><%= comment.content %></p>
			</div>
		<% end %>
		<% if @post.comments.count == 0 %>
			<div class="alert alert-info">No comments yet...</div>
		<% end %>
	</div>
</div>

<%= render 'comment_modal' %>