<h1 class="blocktitle">New Professor</h1>

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<%= form_for @professor do |form| %>
			<div class="form-group">
				<%= form.label :first_name, class: 'control-label' %>
				<%= form.text_field :first_name, class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= form.label :last_name, class: 'control-label' %>
				<%= form.text_field :last_name, class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= form.label :title, class: 'control-label' %>
				<%= form.text_field :title, class: 'form-control' %>
			</div>

			<%= form.submit 'Save' %>
		<% end %>
	</div>
</div>