<!DOCTYPE html>
<html>
<head>
	<title>SIS</title>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => "reload" %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= csrf_meta_tags %>
</head>
<body>

	<%= render 'shared/header' %>

	<div class="container wrapper">
		<div class="row">
			<div class="col-md-9">
				<%= yield %>
			</div>
			<div class="col-md-3">
				<%= render 'shared/widgets' %>
			</div>
		</div>
		<div class="push-footer"></div>
	</div>

	<%= render 'shared/footer' %>
</body>
</html>
